/* styles.css */

.page-head {
    font-family: 'Helvetica', sans-serif;
    color: #004d1a;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.page-head__border {
    color: #004d1a;
    border-style: dashed;
    padding: 2px;
}

.navbar {
    list-style-type: none;    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004d1a;
}

.navbar__button {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1px;
    color: white;   
}

.navbar__button--hover:hover {
    background-color: #17bb4e;
}

.subhead {
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #004d1a;
    margin-left: 10px;
    margin-right: auto;
    text-decoration: underline;
}

.bodytext {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    margin-left: 10px;
    margin-right: auto;
}

.img__center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}    

.img__left {
    width: 40%;
}

.inglist {
    list-style-type: circle;
    font-family: 'Helvetica', sans-serif;
    margin-left: 10px;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 35%;
}
